<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fkzm.blog.mapper.TagMapper">
    <insert id="save" useGeneratedKeys="true">
        <selectKey order="AFTER"  keyProperty="tag.id" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        insert into tag (name) values (#{tag.name})
    </insert>
    <update id="update">
        update tag set name = #{tag.name} where id = #{id}
    </update>
    <delete id="delete">
        delete from tag where id = #{id}
    </delete>
    <select id="get" resultType="com.fkzm.blog.entities.Tag">
        select * from tag where id =#{id}
    </select>
    <select id="getByName" resultType="com.fkzm.blog.entities.Tag">
        select * from tag where name = #{name}
    </select>
    <select id="getList" resultType="com.fkzm.blog.entities.Tag">
        select * from tag
    </select>
    <select id="getCount" resultType="java.lang.Long">
        select count(*) from tag where name = #{tag.name}
    </select>
    <select id="getId" resultType="java.lang.Long">
        select id from tag where name = #{tag.name}
    </select>
    <select id="getAllByList" resultType="com.fkzm.blog.entities.Tag">
        selec
    </select>
</mapper>